NODE_ENV=development
PORT=3000
HOST=localhost

JWT_ACCESS_TOKEN_SECRET="your_secret_key"
JWT_REFRESH_TOKEN_SECRET="your_secret_key"
JWT_EMAIL_TOKEN_SECRET="your_secret_key"

JWT_ACCESS_TOKEN_EXPIRES_IN=21m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_EMAIL_TOKEN_EXPIRES_IN=15m

DB_USER=root
DB_PASS=root
DB_NAME=usof_db
DB_HOST=localhost
DB_PORT=3306

MAIL_HOST="smtp.gmail.com"
MAIL_USER=="usof@gmail.com"
MAIL_PASS="your_personal_gmail_code_to_send_emails_form_app"

MYSQLDB_LOCAL_PORT=3307
MYSQLDB_DOCKER_PORT=3306

NODE_LOCAL_PORT=3000
NODE_DOCKER_PORT=8080

DATABASE_URL=mysql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}